<!DOCTYPE html>
<html>
  <head>
    <title>RakurakuDinner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />

  </head>

  <body>
    <header class='header'>
     <%= link_to "RakurakuDinner", root_path, class:"header-bar" %>
      <ul class='lists-left'></ul>
      <ul class='lists-right'>
        <li><%= link_to 'レシピ検索', search_recipes_path, class:"search-btn" %></li>
          <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          <% else %>  
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-bar">Copyright © 2022 RakurakuDinner  All Rights Reserved</div>
    </footer>
  </body>
</html>

